<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<%= link_to 'Новий пост', new_post_path %>
<button type="button" class="btn btn-primary btn-lg">Large button</button>
<table>

  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Content</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>

      <tr>
        <td><%= post.name %></td>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.image %></td>
        <td><%= link_to 'Показати', post %></td>
        <td><%= link_to 'Редагувати', edit_post_path(post) %></td>
        <td><%= link_to 'Видалити', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

    <% end %>
  </tbody>
</table>

<br>


